################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/archive.zip
/ComputerVision.sln
/ComputerVision.vcxproj
/ComputerVision.vcxproj.filters
/ComputerVision.vcxproj.user
/x64
/.vs/ComputerVision
